{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row">
    {% for product in products %}
    <div class="col-md-3 mb-4">
      <div class="card h-100 shadow">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body text-center">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">${{ product.price|floatformat:2 }}</p>
          <a href="{% url 'buy_product' product.id %}" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
